.img-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-flow: row;
  grid-auto-rows: 22rem;
  gap: 0.1rem;
}
.img-cont__button {
  margin-bottom: 4rem;
}
.img-cont__img {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.img-cont__img p {
  height: -webkit-fill-available;
}
.light-mode {
  background-color: azure;
  color: rgb(2, 2, 73);
}
.dark-mode {
  background-color: rgb(2, 2, 73);
  color: azure;
}
.main__search-text {
  display: inline;
  margin-right: 0.2rem;
}
.main__search {
  margin-bottom: 0.5rem;
}
