.img-cont {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.img-cont__character-name {
  margin-bottom: 4rem;
}
.img-cont__img {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}
.light-mode {
  background-color: azure;
  color: rgb(2, 2, 73);
}
.dark-mode {
  background-color: rgb(2, 2, 73);
  color: azure;
}
